@media screen and (max-width:1220px){
   #header{
       left: -300px;
   }
   main{
       margin: 0;
   }

   #img-perfil-secundaria{
       margin: 0 auto;
        display: block;
       
       width: 150px;
   }
   i.menu-mobile{
    display: block;
}
hr{
    display: none;
}


 main section span{
     width:80%;
     display: inline-block;
 }
}


@media screen and (max-width:768px){ 
    hr{
        margin: 0;
        display: block;
    }
}
