@keyframes seta{
    to{
        transform: translateY(-15px);
    }
}









@media screen and (max-width:720px){
   #header{
       display: none;
   }
   main{
       margin: 0;
   }

   #img-perfil-secundaria{
       margin: 0 auto;
        display: block;
       background-color: brown;
       width: 150px;
   }
   i.menu-mobile{
    display: block;
}
}