/*font-family: 'Lato', sans-serif;
font-family: 'League Gothic', sans-serif;
font-family: 'Roboto', sans-serif;*/

*::-webkit-scrollbar{
width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb{
    background-color: #596869;
    border-radius: 15px;
}


html, body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
   

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    width: 300px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #36453b;
    padding: 0 15px;

}

#header .profile img{
    margin: 15px auto;
    display: block;
    width: 135px;
    
    clip-path: circle();
}

#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;

}

#header .profile .icons-redes{
    text-align: center;
    margin: 5px;

}

#header .profile .icons-redes a{
    padding: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 1.2em;

}

#header .profile .icons-redes a:hover{
    background-color: #2c2c2c;

}



#navbar{
    margin-top: 20px;
    
   
}
#navbar ul{
    margin-left: 15px;
}
#navbar a{
    color: #fff;
    padding: 10px;
    font-weight: 600;
    
    
}
#navbar i{
    padding: 10px;
}

#navbar a:hover,
#nabar a .active{
    color: #596869;
}

#navbar a:hover i{
    color: #149ddd;
}


main{
    margin-left: 300px;
    
    
}
main section h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

#img-perfil-secundaria{
    width: 120px;
    
    display: none;
}

section.inicio{
    background-image: url("img/imagem-main.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}

#arraste{
animation: seta 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6) alternate infinite ; 
}


main section h2{
    text-shadow: 4px 5px 10px black;
}

main section span#tx{
    text-shadow: 10px 5px 4px black;
}


i.menu-mobile{
    position: fixed;
    width: 50px;
    top: 15px;
    left: calc(100vw - 50px);
    cursor: pointer;
    color:white;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
}

.menu-nav-active{
    overflow: hidden;

}

.menu-nav-active #header{
    left: 0px;
    z-index: 8888;
}

#sobre{
    background-color:#2E8B57;
}